---
layout: default
---

<div class='container'>
    <header class="masthead text-center">
      <img class='img-responsive center-block' src="/images/logo/delta_7.png" width="30%" height="50%" />

      <p>
      The <b>C</b>handra <b>R</b>obot <b>Δ</b>utonomy <b>L</b>ab, or CRΔL, is led by <a href="https://engineering.virginia.edu/faculty/rohan-chandra" target="_blank">Professor Rohan Chandra</a>. CRΔL focuses on building robots that navigate <b>among</b> humans, <b>like</b> humans.
 
      <div style="text-align: justify;">
      <p>Dr. Dass completed a postdoc at Rice University from 2021 to 2022, mentored by Dr. Yingyan Lin. Dr. Dass obtained his Ph.D. in 2021 from the Texas A\&M University, College Station advised by Dr. Rabi Mahapatra. His <a href="https://hdl.handle.net/1969.1/195315"> doctoral thesis</a> focused on efficient and scalable machine learning for distributed edge intelligence.</p></div>
      <p>
      <a href="https://github.com/bodhistery"><i class="fa fa-github"></i> Bodhistery</a>&nbsp;&nbsp;&nbsp;
      <a href="https://x.com/CRAL_UVA"><i class="fa fa-twitter"></i> CRΔL</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:jdass@arizona.edu"><i class="fa fa-envelope-o"></i> jdass@arizona.edu</a>

      <br>Bodhistery is hiring 1-2 Ph.D. students for Fall 2024. Email jdass@arizona.edu to apply.
      </p>

      <!-- <div style="display: grid; grid-template-columns: 3fr 1fr; gap: 20px;"> -->
  
        <div class="w3-container" style="background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8; margin-right: 20px;">
          <!-- <h5 style="text-align: center; margin-bottom: 20px;">Recent News</h5> -->
          <div style="text-align: left;">
              <b>Jun 2024</b>&nbsp Dr. Chandra received the <a href="https://www.mdpi.com/journal/drones/awards/2096" target="_new">2023 Drones Young Investigator Award</a>! <br>
              <b>Feb 2024</b>&nbsp Dr. Chandra was appointed as Field Editor, "Encyclopedia of GIS", Springer, August 2026! <br>
              <b>Feb 2024</b>&nbsp Dr. Chandra was appointed as Guest Editor, MDPI Drones, Special Issue on Advances in Perception and Artificial Intelligence for Autonomous Vehicles! <br>
              <b>Jan 2024</b>&nbsp <a href="https://arxiv.org/pdf/2309.13466.pdf" target="_new">Hybrid Social Navigation</a> accepted to <a href="https://2024.ieee-icra.org/" target="_blank">ICRA 2024</a>!<br>
              <b>Jan 2024</b>&nbsp <a href="https://arxiv.org/pdf/2309.16945.pdf" target="_blank">DO-ICBF paper</a> accepted to <a href="https://acc2024.a2c2.org/" target="_blank">ACC 2024 (oral)</a>!<br>
              <b>Dec 2023</b>&nbsp Dr. Chandra was invited to speak at the <a href="https://mobility.iiit.ac.in/drivesim/" target="_blank">Symposium on Indian Driving Simulation</a>!<br>
              <b>Dec 2023</b>&nbsp <a href="https://github.com/ut-amrl/SocialGym2" target="_blank">SocialGym 2.0</a> accepted to <a href="https://aaai.org/aaai-conference/" target="_blank">AAAI (demo track) 2024</a>!<br>
              <b>Oct 2023</b>&nbsp Dr. Chandra won the Best Paper/Presentation Award at the IROS 2023 <a href="https://djhanove.github.io/IROS23_MRS/" target="_blank">Workshop on Advances in Multi-Agent Learning</a> for <a href="https://arxiv.org/pdf/2306.06236.pdf" target="_blank">iPlan</a> ! <br>    
              <b>Sep 2023</b>&nbsp Dr. Chandra won the <a href="https://ippc-iros23.github.io/" target="_blank">SNU PhD Talk Award</a>! <br>    
              <b>Sep 2023</b>&nbsp <a href="https://arxiv.org/pdf/2306.06236.pdf" target="_blank">iPlan</a> accepted as Oral at CoRL 2023! <br>    
              <b>Jun 2023</b>&nbsp Dr. Chandra was appointed as the Publicity and Social Media Chair for the <a href="https://sites.bu.edu/mrs2023/" target="_blank">International Symposium on Multi-Robot & Multi-Agent Systems 2023!</a>
          </div>
        </div>
        <!-- <span style="display: block; margin-bottom: 2em"></span>
        <div style="display: flex; justify-content: center; align-items: center">
          <a class="twitter-timeline" href="https://twitter.com/rohanchandra30" data-widget-id="695051708246941697">Tweets by @rohanchandra30</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div> -->
      <!-- </div> -->

      <span style="display: block; margin-bottom: 3em"></span>
      Department of Computer Science at the University of Virginia<br>
      85 Engineer's Way, Charlottesville, VA 22903
      <span style="display: block; margin-bottom: 3em"></span>
    </header>
</div>

<!--
---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/people/KLab_Fall_2021.png" width="100%" height="100%" />

      <p>
      <i>Causality and Machine learning. <br> Machine Learning and Deep Learning for Neuroscience.<br>
      Neuroscience for Deep Learning.<br>
      and Machine Learning for Movement/Meta-Science.</i>

        <span style="display: block; margin-bottom: 3em"></span>

      <a href="https://github.com/bodhistery"><i class="fa fa-github"></i> Bodhistery</a>&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> Bodhistery</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:jdass@arizona.edu"><i class="fa fa-envelope-o"></i> jdass@arizona.edu</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last few months</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <span style="display: block; margin-bottom: 3em"></span>
      Department of Bioengineering and Department of Neuroscience at University of Pennsylvania<br>
      404 Richards Building, 3700 Hamilton Walk, Philadelphia, PA 19104
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
-->
